h1 {
    text-align: center;
}

body {
    padding: 0px;
    margin: 0px;
}

.center {
    padding: 10px;
    width: calc(100% - 40px);
    background: #f2f2f2;
    border: 1px solid gray;
    font-family: verdana;
    margin: 10px;
}

.title, .artist {
    font-size: large;
    font-weight: bold
}

.error {
    color: red;
    font-size: x-large;
}

#start {
    background: lightgreen;
}

#start2 {
    background: #66C9AA;
}

#stop {
    background: red;
    color: white;
}

#unmute {
    background: lightblue;
}


/* The various playing backgrounds */
.pbg-0 {
    background: #9A9A9A; /* gray - not playing */
}
.pbg-1 {
    background: #CDB1B1;
}
.pbg-2 {
    background: #CDBBB1;
}
.pbg-3 {
    background: #B1CDBD;
}
.pbg-4 {
    background: #B1B3CD;
}
.pbg-5 {
    background: #CDB1CA;
}
.pbg-6 {
    background: #CCCDB1;
}

#currently_playing {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    width: 100%;
    max-width: 400px;
    min-height: 350px;
}

#currently_playing .artist {
    color: #406FB3;
}

#currently_playing .title {
    color: #CE1E39;
}
#currently_playing .start_time {
    display: none;
}

#currently_playing .tips {
    display: none;
}

#currently_playing .duration {
    display: none;
}

#currently_playing .play-id {
    display: none;
}

#currently_playing .mp3src {
    display: none;
}

#currently_playing img {
    height: 300px;
    width: 300px;
}

.buttons {
    text-align: center;
}

.buttons button {
    margin: 10px;
    cursor: pointer;
    font-size: x-large;
    padding: 20px;
    border-radius: 10px;
}

#last_played_container {
    padding-bottom: 20px;
}


.grayed {
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
filter: gray;
filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
