{% extends "base.html" %}

{% block content %}
<style>
    .title, .artist {
        font-size: large;
        font-weight: bold
    }

</style>
<h1>The Station</h1>

<button id="mute">Mute</button><button id="unmute" style="display: none">Un-mute</button><br>

<button>Stop</button><br>

Next Song:
<div id="next_song"></div>
<br>
Currently playing:
<div id="currently_playing"></div>

<div id="player_container"><audio id="player"></audio></div>
<progress id="seekbar" value="0" max="1" style="width:400px;"></progress>
<br>
Play history:
<div id="last_played_container"></div>

<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.js"></script>

<script>
    var all_voices = window.speechSynthesis.getVoices();
    function make_bumper(words) {
        $('#player').animate({volume: 0.1}, 500);
        var msg = new SpeechSynthesisUtterance(words);
        var this_hour = (new Date()).getHours();
        msg.voice = all_voices[this_hour];
        msg.onend = function() {
            // after speech is over, bring volume back
            $('#player').animate({volume: 1.0}, 500);
        }
        window.speechSynthesis.speak(msg);
    }

    $('#player').on('timeupdate', function() {
        $('#seekbar').attr("value", this.currentTime / this.duration);
    });

    $("#mute").click(function() {
        $(this).hide();
        $('#player').get(0).volume = 0.01;
        $("#unmute").show();
    });

    $("#unmute").click(function() {
        $(this).hide();
        $('#player').get(0).volume = 1.0;
        $("#mute").show();
    })

    function switch_currently_playing(new_song, skip_ahead) {
        var player = $("#player");
        player.attr('src', new_song.url);

        player.text(JSON.stringify(new_song.tips));
        //$.each(new_song.tips, function(i, tip) {
        //    player.data('tip-recipient' + i, tip.recipient);
        //    player.data('tip-currency' + i, 'btc');
        //    player.data('tip-ratio' + i, tip.ratio);
        //    player.data('tip-address' + i, tip.address);
        //});

        if(skip_ahead) {
            console.log("skipping ahead", skip_ahead);
            //player.get(0).currentTime = skip_ahead;
        } else {
            $("#next_song").html("&nbsp;");
        }

        $("#currently_playing").html("<span class='artist'>" + new_song.artist + "</span> - <span class='title'>" + new_song.title + "</span>");
        player.get(0).play();
    }

    function fetch_next_track() {
        // hit the backend to get the next song.
        $.ajax({
            url: "/current_and_next_song",
            type: "get",
            complete: function(response) {
                console.log("fetching next song");
                response = response.responseJSON;
                next_song = response.next_song
                current_song = response.current_song

                $("#next_song").html("<span class='artist'>" + next_song.artist + "</span> - <span class='title'>" + next_song.title + "</span>");

                console.log("current:", current_song);
                console.log("next:", next_song);

                // anywhere between 25% and 75% of the play time.
                seconds_to_fetch_next = next_song.duration * (Math.random() * 0.5 + 0.25);
                console.log("after current song ends, wait " + seconds_to_fetch_next + " seconds until next fetch");

                if(!$("#player").attr('src')) {
                    // streaming first started
                    var seconds_skip_ahead = ((new Date()).getTime() - (new Date(current_song.start_time))) / 1000;
                    switch_currently_playing(current_song, seconds_skip_ahead);

                    // when to change to the next track
                    var next_start_date = new Date(next_song.start_time);
                    var switch_track_miliseconds = next_start_date.getTime() - (new Date()).getTime();

                    console.log("switching to next track in " + switch_track_miliseconds / 1000 + "seconds");
                    setTimeout(function() {
                        switch_currently_playing(next_song)
                    }, switch_track_miliseconds);

                    var next_fetch_miliseconds = switch_track_miliseconds + (seconds_to_fetch_next * 1000);
                    setTimeout(fetch_next_track, next_fetch_miliseconds);
                    console.log("will fetch next song in " + next_fetch_miliseconds / 1000 + " seconds");
                    return
                }

                // when this track is supposed to start
                var play_date = new Date(next_song.start_time);

                var miliseconds_from_now = play_date.getTime() - (new Date()).getTime();

                // schedule the next track change.
                setTimeout(function() {
                    switch_currently_playing(next_song)
                }, miliseconds_from_now);

                // schedule the next song fetch
                setTimeout(fetch_next_track, seconds_to_fetch_next * 1000);
                console.log("next song is " + next_song.duration + " seconds long");
                console.log("will fetch next song in " + seconds_to_fetch_next + " seconds");
            }
        });
    }
    // get the streaming process going.
    fetch_next_track();
</script>

{% endblock %}
