{% extends "base.html" %}

{% block content %}
<meta name="microtip" content="Audio">
<meta name="microtip" content="1BoYSGVTHL9ERrFgSk9wDu9GsRUKABdTRc" data-recipient="Bandwidth Fund">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}station.css">

<div class="center">
    {% if autoplay %}
    <audio id="player" src='{{ currently_play.song.url }}' preload='auto'></audio>
    {% else %}
    <audio id="player" preload='none'></audio>
    {% endif %}

    <h1>{{ TITLE|default:"The Station"|safe }}</h1>

    <div class="buttons">
        <button id="mute" style="display: none">Mute</button><button id="unmute" style="display: none">Un-mute</button>
        <button id="start2" style="display: none" onclick="window.location = '/play'">Restart</button>
        <button id="start">Start Listening</button>
        <button id="stop" style="display: none">Stop</button>
    </div>
    <br>

    Next Song:
    <div id="next_song"></div>
    <br>
    <br>
    <div id="currently_playing" class="grayed">
        <span class="status">Not Currently Streaming</span><br><br>
        <audio class="cache_audio" src='{{ current_play.url }}' preload="{% if autoplay %}auto{% else %}none{% endif %}"></audio>
        <span class="tips">{{ current_song.tips }}</span>
        <img src='{{ current_play.img }}'><br>
        <span class='artist'>{{ current_play.artist }}</span>
        [<span class='year'>{{ current_play.year }}</span>]
        <span class='title'>{{ current_play.title }}</span>
        <span class='start_time'>{{ current_play.start_time.isoformat }}</span>
        <progress value='0' max='1' style='width: 80%'></progress>
    </div>
    <div id="currently_playing_cache" style="display: none"></div>
    <br>
    <br>
    <div id="last_played_header" style="display:none">Play History:</div>
    <div id="last_played_container"></div>
    <small>
        Powered by <a href="http://github.com/priestc/TheStation">TheStation</a><br>
        Bandwidth and Artist monetization provided by <a href="http://autotip.io">Autotip</a>
    </small>
</div>

<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.js"></script>

<script>
    var enable_skip_ahead = {{ SKIP_AHEAD|lower }}; {# either true or false #}
</script>

<script src="{{ STATIC_URL}}station.js"></script>

<script>
    {% if autoplay %}
    // Automatically start the station because '/play' in url.
    // also include the message 'autostart' with the event to avoid a race condition.
    $("#start").trigger('click');
    {% endif%}
</script>

{% endblock %}
