{% extends "base.html" %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="microtip" content="Audio">
<meta name="microtip" content="{{ BANDWIDTH_FUND_ADDRESS }}" data-recipient="{{ TITLE|striptags }} Bandwidth Fund">
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}station.css">

<div class="center">
    {% if autoplay %}
    <audio id="player{% if current_play.id|divisibleby:"2" %}A{% else %}B{% endif%}" src='{{ current_play.url }}' preload='auto'></audio>
    <audio id="player{% if next_play.id|divisibleby:"2" %}A{% else %}B{% endif%}" src='{{ next_play.url }}' preload='auto'></audio>
    {% else %}
    <audio id="playerA" preload='none'></audio>
    <audio id="playerB" preload='none'></audio>
    {% endif %}

    <h1>{{ TITLE|default:"The Station"|safe }}</h1>

    <div class="buttons">
        <button id="mute" style="display: none">Mute</button><button id="unmute" style="display: none">Un-mute</button>
        <button id="start2" style="display: none" onclick="window.location = '/play'">Restart</button>
        <button id="start">Start Listening</button>
        <button id="stop" style="display: none">Stop</button>
    </div>
    <br>

    <div id="next_song">
    </div>
    <br>
    <br>
    <div id="currently_playing" class="grayed pbg-0">
        <span class="status">Not Currently Streaming</span><br><br>
        <span class="mp3src">{{ current_play.url }}</span>
        <span class="tips">{{ current_play_tips_json }}</span>
        <img src='{{ current_play.img }}'><br>
        <span class='artist'>{{ current_play.artist }}</span>
        [<span class='year'>{{ current_play.year }}</span>]
        <span class='title'>{{ current_play.title }}</span><br>
        <span class='play-id'>{{ current_play.id }}</span>
        <span class='duration'>{{ current_play.duration }}</span>
        <span class='start_time'>{{ current_play.start_time }}</span>
        <progress value='0' max='1' style='width: 80%'></progress>
    </div>
    <div id="currently_playing_cache" style="display: none">
        <span class="status">Not Currently Streaming</span><br><br>
        <span class="mp3src">{{ next_play.url }}</span>
        <span class="tips">{{ next_play_tips_json }}</span>
        <img src='{{ next_play.img }}'><br>
        <span class='artist'>{{ next_play.artist }}</span>
        [<span class='year'>{{ next_play.year }}</span>]
        <span class='title'>{{ next_play.title }}</span><br>
        <span class='play-id'>{{ next_play.id }}</span>
        <span class='duration'>{{ next_play.duration }}</span>
        <span class='start_time'>{{ next_play.start_time }}</span>
        <progress value='0' max='1' style='width: 80%'></progress>
    </div>
    <br>
    <br>
    <div id="last_played_header" style="display:none">Play History:</div>
    <div id="last_played_container"></div>
    <small>
        Powered by <a href="http://github.com/priestc/TheStation">TheStation</a><br>
        Bandwidth and Artist monetization provided by <a href="http://autotip.io">Autotip</a><br>
        <a href="#" id='stats_link'>Station Stats</a>
        <div id="stats_display" style="display: none">
            Total number of songs in library: <strong class="total_songs"></strong><br>
            Average bitrate of all songs: <strong class="average_bitrate_kbps"></strong> kbps<br>
            Average duration of each song: <strong class="average_duration_minutes"></strong> minutes<br>
            Average bandwidth used per song:<strong class="average_bytes_per_song"></strong> MB<br>
            Average bandwidth used per minute: <strong class="bandwidth_per_minute"></strong><br>
            Bandwidth Cost per song: $<strong class="bandwidth_cost_per_song_usd"></strong> USD<br>
            Bandwidth Cost per minute: $<strong class="bandwidth_cost_per_minute_usd"></strong> USD<br>
        </div>
    </small>
</div>

<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.js"></script>

<script>
    var station_stats_url = '{% url "station_stats" %}';
    var enable_skip_ahead = {{ SKIP_AHEAD|lower }}; {# either true or false #}
</script>

<script src="{{ STATIC_URL}}station.js"></script>

<script>
    {% if autoplay %}
    // Automatically start the station because '/play' in url.
    $("#start").trigger('click');
    {% endif%}

    var fetch = new Date('{{ next_fetch.isoformat }}');
    var ms_to_fetch = miliseconds_from_now(fetch);
    console.log("HOME PAGE: scheduling first fetch for", fetch, "which is", ms_to_fetch / 1000, "seconds from now")
    setTimeout(fetch_next_track, ms_to_fetch);

    var next_start = new Date('{{ next_play.start_time }}');
    var ms_to_start = miliseconds_from_now(next_start);
    console.log("HOME PAGE: scheduling switch to {{ next_play.artist|safe }} {{ next_play.title|safe }} for", next_start, "in", ms_to_start / 1000, "seconds")
    setTimeout(switch_song, ms_to_start, {{ next_play_json|safe }});

    {% if autoplay %}
    setTimeout(make_random_background, (ms_to_start - 5000));
    {% endif %}

</script>

{% endblock %}
