{% extends "base.html" %}

{% block content %}
    <style>
        input[type=text] {width: 20em}
    </style>
    <script src="{{ STATIC_URL }}musicmetadata.js"></script>
    <h1>Add new song to TheStation</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <input type="submit">
    </form>
    <button id="get_img">Fetch Image</button>
    <div id="status"></div>
    <img id="img_preview">
    <script>
        function get_info_from_lastfm(artist_name, track_name, callback) {
            var key = "{{ LASTFM_KEY }}";

            if(key == '') {
                // No lastfm API key configured on the backend.
                return
            }

            var url = "http://ws.audioscrobbler.com/2.0/?method=track.getInfo&api_key=" + key +
            "&artist=" + artist_name + "&track=" + track_name + "&format=json";

            $.ajax({
                url: url,
                success: function(response) {
                    if(response.error) {
                        console.log("Last fm returned error:", response.message);
                        return
                    }
                    callback(response);
                },
                error: function() {
                    console.log("Can't get info from last.fm");
                }
            })
        }

        function to_ms(seconds) {
            // Convert seconds to MM:SS
            m = Math.floor(seconds / 60);
            s = seconds % 60;
            if(s < 10) {
                s = "0" + s;
            }
            return m + ":" + s;
        }

        function get_image(artist, title){
            get_info_from_lastfm(artist, title, function(info) {
                try {
                    var imgsrc = info.track.album.image[3]["#text"]; // 3 = large size
                    $("#id_image_url").val(imgsrc);
                    $("#img_preview").attr('src', imgsrc);
                    $("#status").text("");
                } catch (e) {
                    $("#id_image_url").val("");
                    $("#img_preview").attr('src', "");
                    console.log("Could not get info from last.fm", e);
                    var msg = "Could not get album art from last.fm for " + artist + " - " + title;
                    $("#status").text(msg);
                }
            });
        }


        $("#get_img").click(function() {
            var url = $("#id_image_url").val();
            if(url) {
                $("#img_preview").attr('src', url);
            } else {
                get_image($("#id_artist").val(), $("#id_title").val());
            }
        });

        $("#id_mp3").change(function(event) {
            var file = this.files[0];
            musicmetadata(file, {duration: true}, function(err, result) {
                $("#id_title").val(result.title);
                $("#id_artist").val(result.artist[0]);
                $("#id_collection").val(result.album);
                if(result.year) {
                    $("#id_recorded_date").val(result.year + "-01-01");
                }
                $("#id_duration").val(to_ms(result.duration));
                $("#id_image_url").val("Fetching...");
                $("#id_mp3filesize").val(file.size)

                get_image(result.artist[0], result.title);

            });
        });

    </script>
{% endblock %}
